n8n/workflows/settlement.json
{
  "name": "HOT CHOCO - Settlement",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    { "id": "st1", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [230, 250], "parameters": {} },
    {
      "id": "st2",
      "name": "Parse /settle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 250],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cmd = ($json.command || '').trim(); const m = cmd.match(/^\\/settle\\s+([A-Za-z0-9_-]+)$/); if(!m) return [{json:{...$json, ok:false, fail_message:'Cú pháp đúng: /settle {consignor_code}'}}]; return [{json:{...$json, ok:true, consignor_code:m[1]}}];"
      }
    },
    { "id": "st3", "name": "Valid?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [700, 250], "parameters": { "conditions": { "boolean": [{ "value1": "={{$json.ok}}", "operation": "isTrue" }] } } },
    {
      "id": "st4",
      "name": "Resolve consignor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [930, 210],
      "parameters": {
        "operation": "executeQuery",
        "query": "select id, display_name from public.consignors where shop_id = $1::uuid and code = $2 limit 1;",
        "additionalFields": { "queryParams": "={{[$json.staff_context.shop_id, $json.consignor_code]}}" }
      }
    },
    {
      "id": "st5",
      "name": "ACID settlement apply",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1170, 210],
      "parameters": {
        "operation": "executeQuery",
        "query": "begin; with sale_rows as ( select s.id, s.commission_amount_vnd, s.consignor_amount_vnd from public.sales s join public.inventory i on i.id=s.inventory_id where s.shop_id=$1::uuid and i.consignor_id=$2::uuid and s.status='COMPLETED' and s.settlement_id is null for update ), sale_agg as ( select count(*)::int as item_count, coalesce(sum(consignor_amount_vnd),0)::bigint as gross_payout_vnd, coalesce(sum(commission_amount_vnd),0)::bigint as shop_commission_vnd from sale_rows ), adj_agg as ( select coalesce(sum(amount_vnd),0)::bigint as pending_deduction_vnd from public.refund_adjustments where shop_id=$1::uuid and consignor_id=$2::uuid and deduction_status='PENDING' ), calc as ( select sa.item_count, sa.gross_payout_vnd, sa.shop_commission_vnd, aa.pending_deduction_vnd, least(sa.gross_payout_vnd, aa.pending_deduction_vnd)::bigint as applied_deduction_vnd, greatest(0, aa.pending_deduction_vnd - sa.gross_payout_vnd)::bigint as carry_over_vnd, greatest(0, sa.gross_payout_vnd - aa.pending_deduction_vnd)::bigint as net_payout_vnd from sale_agg sa cross join adj_agg aa ), ins as ( insert into public.settlements (shop_id, consignor_id, period_start, period_end, gross_sales_vnd, commission_total_vnd, refund_deductions_vnd, net_payout_vnd, status) select $1::uuid,$2::uuid,$3::date,$4::date,gross_payout_vnd,shop_commission_vnd,applied_deduction_vnd,net_payout_vnd,'COMPLETED' from calc returning id ), upd_sales as ( update public.sales set settlement_id=(select id from ins), updated_at=timezone('utc',now()) where id in (select id from sale_rows) returning id ), upd_adj as ( update public.refund_adjustments set deduction_status = case when (select carry_over_vnd from calc) > 0 then 'PENDING' else 'DEDUCTED' end, carry_over_vnd = (select carry_over_vnd from calc), deducted_in_settlement_id=(select id from ins), updated_at=timezone('utc',now()) where shop_id=$1::uuid and consignor_id=$2::uuid and deduction_status='PENDING' returning id ) select (select id from ins) as settlement_id, (select item_count from calc) as item_count, (select gross_payout_vnd from calc) as gross_payout_vnd, (select shop_commission_vnd from calc) as shop_commission_vnd, (select applied_deduction_vnd from calc) as deductions_vnd, (select net_payout_vnd from calc) as net_payout_vnd, (select carry_over_vnd from calc) as carry_over_vnd; commit;",
        "additionalFields": { "queryParams": "={{[$json.staff_context.shop_id, $json.id || $json.consignor_id, $json.period_start || '2026-01-01', $json.period_end || '2026-12-31']}}" }
      },
      "continueOnFail": true
    },
    {
      "id": "st6",
      "name": "Format summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1410, 210],
      "parameters": {
        "language": "javaScript",
        "jsCode": "try { const row = Array.isArray($json)?$json[0]:$json; const src=$items('Resolve consignor',0,0)[0].json; const f=(n)=>new Intl.NumberFormat('vi-VN').format(Number(n||0)); const text=['📒 Quyết toán nhà ký gửi: ' + (src.display_name||'N/A'),'Số món: ' + (row.item_count||0),'Tổng trả trước khấu trừ: ' + f(row.gross_payout_vnd) + 'đ','Hoa hồng shop giữ lại: ' + f(row.shop_commission_vnd) + 'đ','Khấu trừ (refund): ' + f(row.deductions_vnd) + 'đ','Thực nhận kỳ này: ' + f(row.net_payout_vnd) + 'đ']; if(Number(row.carry_over_vnd||0)>0){ text.push('⚠️ Khấu trừ chuyển kỳ sau: ' + f(row.carry_over_vnd) + 'đ'); } return [{json:{...$items('Parse /settle',0,0)[0].json, summary_text:text.join('\\n')}}]; } catch (e) { return [{json:{...$items('Parse /settle',0,0)[0].json, summary_text:'✅ Quyết toán thành công, đang tổng hợp chi tiết…'}}]; }"
      }
    },
    { "id": "st7", "name": "Reply Settlement Summary", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1650, 210], "parameters": { "resource": "message", "operation": "sendMessage", "chatId": "={{$json.telegram_chat_id}}", "text": "={{$json.summary_text}}" } },
    { "id": "st8", "name": "Log Error", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1170, 330], "parameters": { "operation": "executeQuery", "query": "insert into public.error_logs (shop_id, workflow_name, node_name, telegram_chat_id, level, error_code, message, context) values ($1::uuid,'settlement','settlement-flow',$2,'ERROR','SETTLEMENT_ERROR',$3,$4::jsonb);", "additionalFields": { "queryParams": "={{[$json.staff_context?.shop_id || null,$json.telegram_chat_id,$json.fail_message || 'Settlement failed',JSON.stringify($json)]}}" } }, "continueOnFail": true },
    { "id": "st9", "name": "Reply Settlement Failure", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1410, 330], "parameters": { "resource": "message", "operation": "sendMessage", "chatId": "={{$json.telegram_chat_id}}", "text": "={{$json.fail_message || 'Quyết toán thất bại. Vui lòng thử lại.'}}" } }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Parse /settle", "type": "main", "index": 0 }]] },
    "Parse /settle": { "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]] },
    "Valid?": { "main": [[{ "node": "Resolve consignor", "type": "main", "index": 0 }], [{ "node": "Log Error", "type": "main", "index": 0 }]] },
    "Resolve consignor": { "main": [[{ "node": "ACID settlement apply", "type": "main", "index": 0 }]] },
    "ACID settlement apply": { "main": [[{ "node": "Format summary", "type": "main", "index": 0 }]] },
    "Format summary": { "main": [[{ "node": "Reply Settlement Summary", "type": "main", "index": 0 }]] },
    "Log Error": { "main": [[{ "node": "Reply Settlement Failure", "type": "main", "index": 0 }]] }
  }
}
